body {
    background-color: #121212;
    color: #ffffff;
    opacity: 0.87;
}

a {
    color: #a6a6ff
}

.a:visited {
    color: #9d61d6;
}

::selection {
    background: #F0F;
}

.links {
    margin-top: 4rem;
}